//
//  InstapaperCredentials.h
//  5by5Browser
//
//  Created by Sami Samhuri on 11-12-18.
//  Copyright (c) 2011 Guru Logic. All rights reserved.
//

#error "Change these credentials to your own"
#define kInstapaperUser     @"your email address"
#define kInstapaperPassword @"your password"
